/*@import url("https://cdn.web-fonts.ge/fonts/gugeshashvili-rachveli/css/gugeshashvili-rachveli.min.css");*/
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.logo img{
	width: 115px;
	vertical-align: middle;
}
header{
	width: 1920px;
	height: 250px;
	background-color: #0020F4;
	padding: 10px;
}
header a{
	color: #FFFFFF
}
nav, nav ul, nav li{
	display: inline;
}
nav, .logo{
	vertical-align: middle;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
nav li{
	margin: 8px;
	font-family: 'HelveticaNeue';
}
.butt-on{
	color: #171717;
	background-color: #FFFFFF;
	padding: 7px;
	border-radius: 28px;
	font-family: 'HelveticaNeue-bold';
}
.au-to {
	width: 1195px;
	margin-left: auto;
	margin-right: auto;
}
.off-ice{
	margin-top: -100px;
}

#main-text{
	margin-left: 170px;
	padding: 20px;
	font-family: 'HelveticaNeue-bold';
}
div{
	width: 1195px;
	margin-left: auto;
	margin-right: auto;
}
.image-gallery img{
	margin: 1px;
	padding: 60px;
}
/*.te-xt{
	margin-top: -200px;
	padding: 150px;
}*/
.te-xt {
	margin: 10px;
	font-family: 'HelveticaNeue-lt';
}
button{
	width: 341px;
	height: 55px;
	color: #FFFFFF;
	background-color: #0A22F4;
	border-radius: 28px;
	font-family: 'HelveticaNeue-bold';
	margin-left: auto;
	margin-right: auto;
}

footer{
	width: 1920px;
	height: 1080px;
	background-color: #0A22F4;
	color: #FFFFFF;
}
h3{
	font-family: 'HelveticaNeue-bold';
}
.middle{
	width: 463px;
	padding: 20px;
	font-family: 'HelveticaNeue';
}
/*iframe{
	width: 463px;
}*/
.circle{
	background-color: #FFFFFF;
	padding: 1px;
	border-radius: 28px;
	vertical-align: middle;
}
#igi{
	margin: 5px;
	padding: 10px;
}